@charset "UTF-8";
/* reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito Sans", Helvetica, Arial, sans-serif;
}

p {
  font-size: 15px;
  color: #626262;
  line-height: 25px;
}

.btn {
  border-radius: 25px;
  padding: 15px 40px;
  border: none;
  background: none;
  font-size: 15px;
  font-weight: 700;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

/* wraper dung de tao khoang cach giua cac section bang gap */
#wraper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* header */
.header {
  position: relative;
  z-index: 1000;
  height: 100vh;
}
.header .header-container {
  position: fixed;
  /* QUAN TRỌNG   : phải có width rõ ràng */
  width: 100%;
  background-color: rgb(249, 251, 253);
  opacity: 0.9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
  padding: 0 20px;
}
.header .header-container .header-left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  /* QUAN TRỌNG  : phải có width rõ ràng */
}
.header .header-container .header-left .logo {
  max-height: 50px;
  max-width: 207px;
}
.header .header-container .header-left .logo img {
  max-height: 100%;
  max-width: 100%;
}
.header .header-container .header-left .menu-icon {
  display: none;
}
.header .header-container .header-left .nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.header .header-container .header-left .nav ul li {
  padding: 0 20px;
  transition: all 0.3s ease;
  font-size: 15px;
  font-weight: 700;
}
.header .header-container .header-left .nav ul li a {
  color: #0c117b;
  text-decoration: none;
}
.header .header-container .header-left .nav ul li a:hover {
  color: #333bd5;
  cursor: pointer;
}
.header .header-container .header-right button {
  border: none;
  padding: 10px 35px;
  border-radius: 50px;
  background-color: #4989fd;
  color: #fff;
  min-width: 140px;
}
.header .header-container .header-right button a {
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}

/* banner */
.banner {
  background-image: url("../../assets/images/home-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.banner .banner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
}
.banner .banner-container .banner-heading {
  color: rgb(73, 137, 253);
  font-size: 45px;
}
.banner .banner-container .banner-small-heading {
  color: rgb(12, 17, 123);
  font-size: 45px;
}
.banner .banner-container .banner-content {
  color: rgb(173, 173, 193);
  font-size: 15px;
  margin: 30px 0;
}
.banner .banner-container .banner-button-container .btn-services {
  background-color: rgb(247, 67, 113);
  color: white;
}
.banner .banner-container .banner-button-container .btn-learn-more {
  border: 1px solid rgb(12, 17, 123);
  color: rgb(12, 17, 123);
  transition: all 0.3s ease;
}
.banner .banner-container .banner-button-container .btn-learn-more:hover {
  background: rgb(12, 17, 123);
  color: white;
}
.banner .banner-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}
.banner .banner-bottom .banner-bottom-left {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.banner .banner-bottom .banner-bottom-left .bottom-left-content {
  color: rgb(173, 173, 193);
  font-weight: 700;
  font-size: 14px;
}
.banner .banner-bottom .banner-bottom-left .bottom-left-number {
  color: rgb(73, 137, 253);
  font-weight: 700;
  font-size: 17px;
}
.banner .banner-bottom .banner-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.banner .banner-bottom .banner-bottom-right p {
  font-size: 11px;
  color: rgb(173, 173, 193);
  font-weight: 700;
}
.banner .banner-bottom .banner-bottom-right a {
  width: 40px;
  height: 40px;
  background-color: rgb(73, 137, 253);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-weight: 700;
  text-decoration: none;
}

/* contents */
.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* offer container */
}
.contents .list-logo-companies {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  min-width: 100%;
}
.contents .list-logo-companies .logo-company {
  width: 25%;
  padding: 10px 35px;
  background: rgba(0, 0, 0, 0.01);
  transition: all 0.3s ease;
}
.contents .list-logo-companies .logo-company img {
  width: 100%;
  height: 100%;
}
.contents .list-logo-companies .logo-company img:hover {
  background: rgba(0, 0, 0, 0.05);
}
.contents .offer-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.contents .offer-container .offer-image {
  flex: 1;
  max-width: 500px;
  max-height: 550px;
}
.contents .offer-container .offer-image img {
  width: 100%;
  height: 100%;
}
.contents .offer-container .offer-content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.contents .offer-container .offer-content h2 {
  font-size: 58px;
  font-weight: 500;
  color: #0c117b;
}
.contents .offer-container .offer-content ul {
  list-style: none;
}
.contents .offer-container .offer-content ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px 0;
  color: #626262;
  font-size: 15px;
  font-weight: 500;
  unicode-bidi: isolate;
}
.contents .offer-container .offer-content ul li img {
  padding: 5px 10px;
  border-bottom: 1px solid #626262;
}
.contents .offer-container .offer-content .btn-offer {
  max-width: 35%;
  background-color: #f74371;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

/* services */
.services {
  padding-top: 100px;
  padding-bottom: 50px;
  background-image: url("../../assets/images/home-service-bg.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: fixed;
}
.services .service-content {
  text-align: center;
}
.services .service-content .service-title-1,
.services .service-content .service-title-2 {
  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  color: #4989fd;
}
.services .service-content .service-title-2 {
  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  text-align: center;
  color: white;
}
.services .service-card-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.services .service-card-container .service-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.services .service-card-container .service-card .service-icon {
  max-width: 105px;
  max-width: 105px;
}
.services .service-card-container .service-card .service-icon img {
  width: 100%;
  height: 100%;
}
.services .service-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.services .service-button-container .btn-ser {
  background-color: #f74371;
  color: white;
  font-size: 14px;
  font-weight: 400;
  margin: 40px 0;
}

/* convince */
.convince-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.convince-container .convince-image {
  flex: 1;
  max-width: 500px;
  max-height: 550px;
}
.convince-container .convince-image img {
  width: 100%;
  height: 100%;
}
.convince-container .convince-content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.convince-container .convince-content h2 {
  font-size: 58px;
  font-weight: 500;
  color: #0c117b;
}
.convince-container .convince-content .convince-numbers {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.convince-container .convince-content .convince-numbers .convince-number {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  padding: 10px;
}
.convince-container .convince-content .convince-numbers .convince-number .count {
  font-size: 42px;
  font-weight: 400;
}
.convince-container .convince-content .btn-offer {
  max-width: 35%;
  background-color: #f74371;
  color: white;
  font-size: 14px;
  font-weight: 400;
}

/* email */
.email {
  background-image: url("../../assets/images/home-newsletter-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
.email .email-content {
  text-align: center;
}
.email .email-content .email-title-1,
.email .email-content .email-title-2 {
  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  color: #4989fd;
}
.email .email-content .email-title-3 {
  font-size: 58px;
  line-height: 58px;
  font-weight: 500;
  color: #0c117b;
}
.email .email-form form {
  margin: 40px 0;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.email .email-form form input {
  padding: 10px;
  border: 0;
  border-bottom: 1px solid gray;
  max-width: 20%;
  width: 100%;
}
.email .email-form form .btn-form {
  background-color: #f74371;
  color: white;
  font-size: 14px;
  font-weight: 400;
}
.email .email-bottom {
  text-align: center;
}

.email .email-bottom {
  text-align: center;
}
.email .email-bottom a {
  text-decoration: none;
  color: #4962fd;
}

/* footer */
.footer {
  background-color: #fafbfc;
  padding: 30px 0;
}
.footer .footer-container {
  display: flex;
}
.footer .footer-container .footer-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-container .footer-right {
  flex: 1;
  display: flex;
  align-items: start;
}
.footer .footer-container .footer-right .footer-ser,
.footer .footer-container .footer-right .footer-web {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.footer .footer-container .footer-right .footer-ser h6,
.footer .footer-container .footer-right .footer-web h6 {
  color: #0c117b;
  font-weight: 700;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.footer .footer-container .footer-right .footer-ser a,
.footer .footer-container .footer-right .footer-web a {
  text-decoration: none;
  color: #626262 !important;
  font-size: 14px;
  font-weight: 400;
}
.footer .footer-container .footer-right .footer-ser a:hover,
.footer .footer-container .footer-right .footer-web a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=desktop.css.map */